/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* BODY BACKGROUND (IMAGE + OVERLAY) */
body {
    height: 100vh;
    background: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url("../images/background.jpg") no-repeat center center/cover;
    color: white;
}

/* NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.logo {
    font-size: 26px;
    font-weight: bold;
}

/* NAV LINKS */
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

nav a:hover {
    color: #ff4da6;
}

/* HERO SECTION */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
}

/* CONTENT */
.content h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.content p {
    font-size: 20px;
    margin-bottom: 25px;
}

/* BUTTON */
.btn {
    background: white;
    color: #6a0dad;
    padding: 12px 25px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #ff4da6;
    color: white;
}
