* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* BACKGROUND */
body {
    height: 100vh;
    background: linear-gradient(135deg, #6a0dad, #ff4da6);
    color: white;
}

/* NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* HERO */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
}

.content h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.content p {
    font-size: 20px;
    margin-bottom: 20px;
}

/* BUTTON */
.btn {
    background: white;
    color: #6a0dad;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background: #ddd;
}
